* {
    margin: 0;
    padding: 0;
  }
  
  .clearfix{
    clear:both;
  }
  
  .container {
    width: 960px;
    margin: 0 auto;
    background: rgb(255, 159, 218);
    overflow:hidden;
  }
  header{
    text-align: center;
    width: 847px;
    height: 172px;
    background: rgb(56, 207, 245);
    margin: 0 auto;
  }
  section{
    margin-left: 45px;
    margin-top: 3px;
    text-align: center;
    width: 166px;
    height: 478px;
    background: rgb(236, 0, 0);
    float: left;
  }
  aside{
    margin-left: 1px;
    margin-top: 3px;
    width: 681px;
    height: 478px;
    text-align: center;
    background: rgb(253, 251, 110);
    float: left;
  }
  
  footer{
    background: rgb(56, 240, 0);
    width: 847px;
    height: 88px;
    margin: 1px auto;
  }
  
  